@import url("default.css?SKIN=default");
body{
    background: black;
    color:white;
}

a:focus {outline: 1px solid red;}
a:focus img {outline: 2px solid red;}

.TitleBar{
   background-color:gray;
   color: black;
}

a:link.TitleBarLink, a:visited.TitleBarLink, a:active.TitleBarLink {
   color: black;
}



.TitleBar-arrows li:before {
  border-color: transparent transparent transparent gray;
}

.TitleBar-arrows a {
  color: black;
}
.TitleBar-arrows a:hover {
  color: silver;
}



a:link, a:visited, a:active, div.sublink,span.sublink  {
            color:#ededed;
          }

iframe#fmenutop{
   height:40px;
}



