@import url("default.css?SKIN=default");
body{
    background: black;
    color:white;
}
#TitleBar{
   background-color:gray;
}

a:link, a:visited, a:active, div.sublink,span.sublink  {
            color:#ededed;
          }


