@import url("Output.HtmlDetail.css?SKIN=default");
div.detailframe{
  background-color:#383638;
}
div.detailframeedit{
  background-color:#383638;
}
div.detailframeread{
  background-color:#383638;
}
#HtmlDetail{
  background-color:gray;
}


div.detailtopline{
   background:black;
}
h2.detailtoplinename{
   color:white;
}
div.detailframe h3{
   color:white;
}

div.detailframeedit h3{
   color:white;
}

div.detailheadline{
   color:white;
   box-shadow: none;
   background-color:black;
}

span.detailfunctions, a.detailfunctions:link, a.detailfunctions:visited, a.detailfunctions:active {
            color:white;
}

a.HtmlDetailIndex:link, a.HtmlDetailIndex:visited, a.HtmlDetailIndex:active {
            color:black;
          }


