div.noteframe{
   background:#FAFAFA;
   margin:15px;
   border-width:1px;
   border-color:black;
   border-style:solid;
   padding:5px;
   width:65%;
   text-align:left;
}
div.header{
   margin:0px;
   border-bottom-width:1px;
   border-bottom-color:black;
   border-bottom-style:solid;
   overflow:hidden;
   width:65%;
   font-weight:bold;
   text-align:center;
}
div.approvedbar{
   margin:0px;
   padding:10px;
   padding-top:80px;
   padding-bottom:0px;
   border-style:none;
   overflow:hidden;
   text-align:right;
   height:70px;
   display:none;
   visiblity:hidden;
}
div.approvedblock{
   margin:10px;
   border-top-width:1px;
   border-top-color:black;
   border-top-style:solid;
   overflow:hidden;
   text-align:center;
   width:200px;
   float:right;
}
div.approveddate{
   margin-right:10px;
   overflow:hidden;
   text-align:center;
   float:right;
}

@media print {
   div.approvedbar{
      display:block;
      visiblity:visible;
   }
}  

