@media print {
   body{
      background: #FFFFFF;
   }
}

   body{
      background: #f3f3f3;
   }
   form,html,body{ // wichtig, das bei table height=100% keine scrollbar
      padding:0px; // erscheint
      border:0px;
      margin:0px;
   }
   select,pre{
      font-family:Courier New,Adobe Courier,Courier;
      font-size:11px;
      text-decoration:none;
      color:black;
   }
   input,body,th,td,li,p{
      font-family:Arial,Adobe Helvetica,Helvetica;
      font-size:12px;
      text-decoration:none;
   }
   input,select{
      font-size:11px;
      background-color:#ffffff;
   }
   p{
      margin-top: 0px;
      margin-bottom: 1px;
   }
   ul{
      margin: 0px;
      margin-left: 15px;
      padding-left: 5px;
   }
   pre{
      margin: 0px;
      padding: 0px;
   }


div.context_menu {
	position: absolute;
	top: 0px;
	left: 0px;
	border: 2px outset ThreeDFace;
	background-color: ThreeDFace;
	display: none;
        visiblity:hidden;
   z-index:200;
}

div.context_menu td.std {
	background-color: transparent;
	color: MenuText;
	cursor: default;
}

div.context_menu td.active {
	background-color: Highlight;
	color: HighlightText;
	cursor: default;
}

div#UserJavaScript{
   position: absolute;
   left:0px;
   top:15px;
   width:400px;
   border-style:solid;
   border-color:black;
   border-width:1px;
   height:50px;
   overflow:auto;
   background:#EAEBE9;
   display:none;
   padding:5px;
}

div#UserJavaScriptActivator{
   position: absolute;
   left:0px;
   top:0px;
   width:50px;
   height:5px;
   border-width:0px;
   overflow:hidden;
}




#popupMask {
	position: absolute;
	xz-index: 200;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	opacity: .4;
	filter: alpha(opacity=40);
	xbackground-color:transparent !important;
	background-color: #333333;
	xbackground-image:none;
	xbackground-repeat: repeat;
	display:none;
}
#popupContainer {
	position: absolute;
	z-index: 201;
	top: 0px;
	left: 0px;
	visibility:hidden;
        display:none;
	padding: 0px;
	margin: 0px;
        border-width:0;
width:85%;
overflow:hidden;
}
#popupInner {
	xborder: 1px solid #000000;
	background-color: #ffffff;
        margin:0px;
        padding:0px;
        xpadding-right:5px;
}

iframe.popupFrame {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 202;
}
.TitleBar {
	background-color: #30579f;
	color: #ffffff;
	font-weight: bold;
	height: 1.3em;
	width: 100%;
	padding: 0px;
	xmargin-bottom: 2px;
	border-bottom: 2px solid #000000;
	border-top: 1px solid #78A3F2;
	border-left: 1px solid #78A3F2;
	border-right: 1px solid #204095;
	position: relative;
	z-index: 203;
}
#LoggedInAs{
        cursor: pointer;
}
#ModuleObjectInfo{
        cursor: pointer;
}
#popupTitle {
	float:left;
	font-size: 1.1em;
}
#popupControls {
	float: right;
	cursor: pointer;
	cursor: hand;
}
a:link.sublink, a:visited.sublink, a:active.sublink,
div.sublink,span.sublink  {
            font-family:Arial,Adobe Helvetica,Helvetica;
            text-decoration:none;
            color:#16305e;
            cursor: pointer;
            cursor: hand;
          }

a:link.emaillink    {
            font-family:Arial,Adobe Helvetica,Helvetica;
            text-decoration:none;
            color:#16305e;
          }
a:visited.emaillink {
            font-family:Arial,Adobe Helvetica,Helvetica;
            text-decoration:none;
            color:#16305e;
          }
a:active.emaillink  {
            font-family:Arial,Adobe Helvetica,Helvetica;
            text-decoration:none;
            color:#16305e;
          }

a:link.limitreached    {
            font-family:Arial,Adobe Helvetica,Helvetica;
            text-decoration:none;
            color:#006666;
          }
a:visited.limitreached {
            font-family:Arial,Adobe Helvetica,Helvetica;
            text-decoration:none;
            color:#006666;
          }
a:active.limitreached  {
            font-family:Arial,Adobe Helvetica,Helvetica;
            text-decoration:none;
            color:#006666;
          }

a:link.TitleBarLink, a:visited.TitleBarLink, a:active.TitleBarLink {
   background-color: #30579f;
   color: #ffffff;
   font-weight: bold;
   text-decoration:none;
}


iframe#fmenutop{
   height:35px;
}


