@media print {
   body{
      background: #FFFFFF;
      background-color: #FFFFFF;
   }
   .noprint, .noprint *
   {
       display: none !important;
   }
}
a:focus {outline: 1px solid #30579f;}
a:focus img {outline: 2px solid #30579f;}

.aria-only {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0,0,0,0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}

iframe#fmenutop{
   height:100px;
}
@media screen and (max-width: 510px) {                  
  .hideOnMobile {
     display: none;
  }
  iframe#fmenutop{
     height:0px;
  }
  table.stackedOnMobile td {
    display: block;
  }
  table.stackedOnMobile td:first-child {
    font-weight: bold
  }
  img.toplineimage{
     max-height:60px;
  }
}


@media handheld and (orientation: portrait) {                  
  .hideOnMobile {
     display: none;
  }
  .showOnMobile {
     display: block;
  }
  iframe#fmenutop{
     height:4px;
  }
  table.stackedOnMobile td {
    display: block;
  }
  table.stackedOnMobile td:first-child {
    font-weight: bold
  }
  img.toplineimage{
     max-height:60px;
  }
}


iframe.HtmlDetailPage{
   width:100%;
   height:100%;
   border-width:0;
   padding:0;
   margin:0
}
   body{
      background: #F3F3F3;
   }
   form,html,body{ 
      padding:0px; 
      border:0px;
      margin:0px;
   }
   select,pre{
      font-family:Courier New,Adobe Courier,Courier;
      font-size:11px;
      text-decoration:none;
      color:black;
   }
   input,body,th,td,li,p{
      font-family:Arial,Adobe Helvetica,Helvetica;
      font-size:12px;
      text-decoration:none;

   }
   input,select{
      font-size:11px;
      background-color:#ffffff;
      vertical-align:middle;
   }
   input.checkbox{
      background: transparent;
      border: 0;
   }
   input[disabled] {
       color: gray;
       background-color:silver;
       background-image: none;
   }

   p{
      margin-top: 0px;
      margin-bottom: 1px;
      font-weight:normal;
   }
   ul{
      margin: 0px;
      margin-left: 15px;
      padding-left: 5px;
   }
   li{
      margin-top:3px;
      margin-bottom:3px;
   }

   pre{
      margin: 0px;
      padding: 0px;
   }

h1{
  margin-top: 10px;
  margin-bottom: 2px;
  padding:0px;
  font-size:18px;
}
h2{
  margin-top: 8px;
  margin-bottom: 2px;
  padding:0px;
  font-size:16px;
}
h3{
  margin-top: 3px;
  margin-bottom: 2px;
  padding:0px;
  font-size:14px;
}

div.context_menu {
	position: absolute;
	top: 0px;
	left: 0px;
	border: 2px outset ThreeDFace;
	background-color: ThreeDFace;
	display: none;
        visibility:hidden;
   z-index:200;
}

div.context_menu td.std {
	background-color: transparent;
	color: MenuText;
	cursor: default;
}

div#userCount{
   font-size:8px;
   margin:10px;
   margin-top:20px;
}

div.context_menu td.active {
	background-color: Highlight;
	color: HighlightText;
	cursor: default;
}



#popupMask {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	opacity: .4;
	filter: alpha(opacity=40);
	background-color: #333333;
	display:none;
   z-index:100;
}
#popupContainer {
	position: absolute;
	z-index: 201;
	top: 0px;
	left: 0px;
   background-color:#F3F3F3;
	visibility:hidden;
        display:none;
	padding: 0px;
	margin: 10px;
        border-style:solid;border-width:2px;border-color:black;
        width:85%;
        overflow:hidden;
}
#popupInner {
	background-color: #F3F3F3;
   margin:0px;
   padding:0px;
}

div#UserJavaScript{
   position: absolute;
   left:0px;
   top:15px;
   width:400px;
   border-style:solid;
   border-color:black;
   border-width:1px;
   height:50px;
   overflow:auto;
   background:#EAEBE9;
   display:none;
   padding:5px;
}

div#UserJavaScriptActivator{
   position: absolute;
   left:0px;
   top:0px;
   width:50px;
   height:5px;
   border-width:0px;
   overflow:hidden;
}


iframe.subframe{
	margin: 0px;
	margin-left: 2px;
	margin-right: 2px;
	padding: 0px;
	width: 98%;
	height: 98%;
   border:1px;
   border-style:solid;
   border-color:gray;
	position: relative;
}


iframe.popupFrame {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 202;
}

.TitleBar {
   background-color:#30579f;
	color: #ffffff;
	font-weight: bold;
	height: 19px;
   overflow:hidden;
	padding: 0px;
	margin: 0px;
	padding-left: 3px;
	position: relative;
   white-space: nowrap;
	z-index: 203;
}
.TitleBarLeftTD{
  text-align:left;
  white-space: nowrap;
  max-width:100px;
  padding-left:5px;
}
.TitleBarRightTD{
  text-align:right;
  white-space: nowrap;
  padding-left:5px;
  padding-right:5px;
  overflow:auto;
  width:1%;
}
#TitleBar{
   box-shadow: none;
	border-bottom: 1px solid #30579f;
	border-top: 1px solid #30579f;
	border-left: 1px solid #30579f;
	border-right: 1px solid #30579f;
}
a:link.TitleBarLink, a:visited.TitleBarLink, a:active.TitleBarLink {
	background-color: transparent;
	color: #ffffff;
	font-weight: bold;
   text-decoration:none;
}
a:focus.TitleBarLink {
   outline:none;
	color: gray;
}

#LoggedInAs{
	cursor: pointer;
	background-color: transparent!important;
   border: none;
   padding: 0!important;
   text-decoration: none;
	color: #ffffff;
	font-weight: bold;
   cursor: pointer;
}
#LoggedInAs:focus {
   text-decoration: none;
	color: gray;
   outline:none;
   border: none;
}

#ModuleObjectInfo{
	cursor: pointer;
}
#popupTitle {
	float:left;
	font-size: 1.1em;
}
#popupControls {
	float: right;
	cursor: pointer;
	cursor: hand;
}


a:link.sublink, a:visited.sublink, a:active.sublink,
div.sublink,span.sublink  {
            font-family:Arial,Adobe Helvetica,Helvetica;
            text-decoration:none;
            color:#16305e;
            cursor: pointer;
            cursor: hand;
            white-space:nowrap;
          }

a:link.emaillink    {
            font-family:Arial,Adobe Helvetica,Helvetica;
            text-decoration:none;
            color:#16305e;
          }
a:visited.emaillink {
            font-family:Arial,Adobe Helvetica,Helvetica;
            text-decoration:none;
            color:#16305e;
          }
a:active.emaillink  {
            font-family:Arial,Adobe Helvetica,Helvetica;
            text-decoration:none;
            color:#16305e;
          }

a:link.limitreached    {
            font-family:Arial,Adobe Helvetica,Helvetica;
            text-decoration:none;
            color:#006666;
          }
a:visited.limitreached {
            font-family:Arial,Adobe Helvetica,Helvetica;
            text-decoration:none;
            color:#006666;
          }
a:active.limitreached  {
            font-family:Arial,Adobe Helvetica,Helvetica;
            text-decoration:none;
            color:#006666;
          }

a:link.alink, a:visited.alink, a:active.alink  {
            font-family:Arial,Adobe Helvetica,Helvetica;
            text-decoration:none;
            color:#000BA8;
          }

.wraped {
white-space: pre-wrap; /* css-3 */
white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
white-space: -pre-wrap; /* Opera 4-6 */
white-space: -o-pre-wrap; /* Opera 7 */
word-wrap: break-word; /* Internet Explorer 5.5+ */

}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

div.TabSelectorModeSelect{
   overflow:hidden; /* Für IE notwendig */
}

.TitleBar-arrows li {
  display: inline-block;
  line-height: 22px;
  position: relative;
  margin:0;
  padding:0;
  padding-left:10px;
  font-size:15px;
}
.TitleBar-arrows li:before {
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  left: -1px;
  border-style: solid;
  border-width: 11px 0 11px 8px;
  border-color: transparent transparent transparent #30579f;
  z-index: 100;
}
.TitleBar-arrows a:after {
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  left: 0px;
  border-style: solid;
  border-width: 11px 0 11px 8px;
  border-color: transparent transparent transparent white;
  z-index: 10;
}
.TitleBar-arrows .active a {
  font-weight: bold;
}
.TitleBar-arrows a {
  display: block;
  xbackground: #ccc;
  padding: 0 10px;
  cursor:pointer;
  text-decoration: none;
  color: white;
}
.TitleBar-arrows a:hover {
  xfont-weight: bold;
  color: silver;
}

.SelectedItem {
   margin:2px;
   padding:2px;
   margin-bottom:0;
   padding-bottom:0px;
   background-color:#415d91;
   color:#ffffff;
   border-color:gray;border-style:solid;
   border-width:1px;
   user-select:none;
   line-height:16px;
}



