body{
  background:#eaeaea;
}
div.Interview{
  width:100%;
  height:100%;
}

div.OnOfSwitch{
  float:left;
}
div.InterviewQuestBlockHead{
   color:blue;
   margin:4px;
   font-size:15px;
   cursor: pointer;
   margin-bottom:0px;
   vertical-align:center;
}
div.InterviewQuestBlock{
   display:none;
   visibility:hidden;
   margin:4px;
   margin-bottom:0px;
   margin-top:1px;
   border-width:1px;border-style:solid;border-color:gray;
}
div.InterviewQuestClust{
   margin-right:2px;
   margin-left:13px;
   padding-left:2px;
   margin-top:8px;
   font-weight:bold;
   background:silver;
}
div.InterviewQuestHead{
   margin-left:8px;
}
table.InterviewQuestHead{
   border-spacing:0; border-collapse:collapse;
}
td.InterviewQuestHead{
   font-size:10px;;
}
td.InterviewSubMenu{
   font-size:10px;;
   width:1%;
}
div.InterviewQuest{
   margin-left:20px;
}
table.InterviewQuest{
   border-spacing:0; border-collapse:collapse;
}
div.pfield{
   font-size:8px;
}
body{
   overflow:auto;
}
div.InterviewQuestBlockFancyHead{
   display:none;visibility:hidden;
}
@media print {
   body{
      overflow:visible;
   }
   div.qhelp{
      display:none;visibility:hidden;
   }
   div.InterviewQuestBlockHead{
      display:none;visibility:hidden;
   }
   div.InterviewQuestBlockFancyHead{
      display:block;visibility:visible;
   }
   div.header{
      display:none;visibility:hidden;
   }
}
div.header{
   border-bottom-style:solid;
   border-width:1px;
   border-color:black;
   margin:5px;
   margin-top:10px;
   padding-bottom:5px;
}

div.qhelp{
   margin-top:5px;
   margin-left:2px;
   cursor: pointer;
}

div.InterviewQuestAnswer
{
   margin:0px;
   padding:0px;
   margin-left:5px;
}

table.Panswer {
   width:100%;
   border-spacing:0; border-collapse:collapse;
}
td.Panswer {
   margin:0px;
   padding:0px;
}
div.Pseg1{
   width:100%;height:20px;
   background:green;
   cursor:crosshair;
}
div.Pseg0{
   width:100%;height:20px;
   background:red;
   cursor:crosshair;
}

