div.EditFrame{
   border-style:solid;
   border-color:black;
   border-width:1px;
   padding:0px;
   margin:0px;
}
div.RelationList{
   border-style:solid;
   border-color:black;
   border-width:1px;
   padding:0px;
   margin:0px;
}
div.editSubList{
   border-style:solid;
   border-width:1px;
   margin:0px;
   padding:0px;
   width:99%;
   height:110px;
   overflow:auto;
}

tr.subline{
   cursor:pointer;
}
tr.subline:nth-child(odd){
   background:#DDDDDD;
}
tr.subline:nth-child(even) {
  background: #CCCCCC;
}
tr.subline:hover{
   background:#b0c5ec;
}


