div.searchframe{
   border : 2px groove silver;
   padding:0px;
   margin:0px;
   padding-top:5px;
   padding-bottom:5px;
   margin-bottom:4px;
   background:#dadada;
   overflow:hidden;
}
iframe.result{
   height:100%;
   width:100%;
   margin:0px;
   padding:0px;
}
iframe.nativ{
   height:100%;
   margin:0px;
   padding:0px;
   border-style:none; border-width:0pt;
}
div.extsearchframe{
   height:100px;
   border-style:outset;
   border-width:2px;
   padding:0px;
   margin:0px;
   padding-top:5px;
   padding-bottom:5px;
   margin-bottom:0px;
   background:#dadada;
   overflow:auto;
   display:block;visibility:visible;
}
div.buttonframe{
   border : 2px groove silver;
   padding:0px;
   margin-bottom:4px;
   background:#dadada;
}
table.searchframe{
   width:100%;
   border-style:none;
   border-spacing:0px;
   border-collapse:collapse;
   margin:0px;
   padding:0px;
}
table.buttonframe{
   width:100%;
   border-style:none;
   border-spacing:5px;
   padding:0px;
   margin:0px;
}

tr.fline{
   height:24px;
}

td.fname{
   white-space:nowrap;
   border-style:solid;
   border-width:1px;
   border-color:silver;
   padding-top:4px;
   padding-left:4px;
   padding-right:5px;
   font-weight:bold;
   vertical-align:top;
}
td.finput{
   border-style:solid;
   border-width:1px;
   border-color:silver;
   padding-left:3px;
   padding-right:5px;
   position:relative;
}
td.containerfname{
   white-space:nowrap;
   border-style:solid;
   border-width:1px;
   border-color:gray;
   padding-top:2px;
   padding-left:4px;
   padding-right:5px;
   font-weight:bold;
}
td.containerfval{
   border-style:solid;
   border-width:1px;
   border-color:gray;
   padding-left:3px;
   padding-right:5px;
   padding-bottom:5px;
   padding-top:2px;
}
span.buttontext{
   line-height:11px;
}
td.button{
   font-size:11px;
   text-align:center;
   white-space:normal;
   line-height:11px;
   font-weight:bolder;
}
input.button{
   width:86px;
   height:25px;
   background:#dadada;
   overflow:hidden;
   border-style:outset;
   border-width:3px;
   padding:0px;
   padding-right:1px;
   margin:1px;
   float:right;
   cursor: pointer;
   cursor: hand;
}
input.button_up{
   width:40px;
   height:100%;
   background:#dadada;
   background: url(arrow_up.gif) center no-repeat;
   overflow:hidden;
   border-style:outset;
   border-width:3px;
   padding:0px;
   padding-left:2px;
   padding-left:2px;
   margin:2px;
   float:right;
}
input.button_down{
   width:40px;
   height:100%;
   background:#dadada;
   background: url(arrow_down.gif) center no-repeat;
   overflow:hidden;
   border-style:outset;
   border-width:3px;
   padding:0px;
   padding-left:2px;
   padding-left:2px;
   margin:2px;
   float:right;
}
div.button{
   width:80px;
   height:25px;
   background:#dadada;
   overflow:hidden;
   border-style:outset;
   border-width:3px;
   padding:0px;
   padding-left:2px;
   padding-left:2px;
   margin:2px;
   float:right;
}
input[type=button]:focus {
   outline-color: blue;
}
div.viewselect{
   font-size:11px;
   text-align:center;
   vertical-align:middle;
   font-weight:bolder;
   background:#dadada;
   border-style:outset;
   border-width:3px;
   padding:0px;
   padding-left:2px;
   padding-left:2px;
   width:160px;
   margin:2px;
   float:left;
}
table.viewselect{
   width:160px;
   border-style:none;
   border-spacing:0px;
   padding:0px;
   margin:0px;
}
select.viewselect{
   width:100%;
}

input.finput{
   width:100%;
   padding-left:2px;
   padding-right:2px;
}

div.clipicon {
  position: absolute;
  display: inline-block;
  top:0;
  right:0;
  z-index:99;
  cursor:pointer;
}

.finput div.clipicon {
  top:3;
}


div.clipicon img {
  opacity: 0;
  transition: opacity .5s, top .5s;
}

div.clipicon:hover img {
  opacity: 1;
}



a.button:link    {
            font-family:Arial,Adobe Helvetica,Helvetica;
            text-decoration:none;
            color:#006666;
          }
a.button:visited {
            font-family:Arial,Adobe Helvetica,Helvetica;
            text-decoration:none;
            color:#006666;
          }
a.button:active  {
            font-family:Arial,Adobe Helvetica,Helvetica;
            text-decoration:none; 
            color:#006666;
          }
div.lastmsg{
   margin:0px;
   padding:0px;
   min-height:15px;
   height:auto;
   width:99%;
   border-style:none;
   font-weight:normal;
   border-style:none;
   border-width:1px;
   overflow:auto;
   text-align:left;
}

a:link.FunctionLink, a:visited.FunctionLink, a:active.FunctionLink    {
            font-family:Arial,Adobe Helvetica,Helvetica;
            text-decoration:none;
            color:#16305e;
          }


