a:focus {outline: silver solid 1px;}

div.clipicon {
  position: absolute;
  display: inline-block;
  top:3;
  right:5;
  width:10px;
  height:10px;
  z-index:99;
  cursor:pointer;
  background-image: url('../../base/load/edit_copy.gif');
  background-size:100%;
  z-index:100;
}

div.clipicon {
  opacity: 0;
  transition: opacity .5s, top .5s;
}

div.clipicon:hover {
  opacity: 1;
}




ul.mktree{ 
   margin-left:0px; 
   padding:0px;
   width:90%;
}
ul.mktree li { 
   list-style: none; 
   padding:0px;
} 
ul.mktree  li.liOpen    .bullet { 
   cursor: pointer; 
   background: url(minus.gif) center left no-repeat;
}
ul.mktree  li.liClosed  .bullet { 
   cursor: pointer; 
   background: url(plus.gif) center left no-repeat;
}
ul.mktree ul.mktree { 
   margin-left:16px; 
}
ul.mktree  li   .bullet { 
   margin-left:0px; 
   padding-left: 16px;
   background:none;
   font-size: 10pt; 
}
ul.mktree  li   .nobullet { 
   margin-left:0px; 
   padding-left: 16px;
   background:none;
   font-size: 10pt; 
}
a:link.menulink, a:visited.menulink, a:active.menulink {
   font-family:Arial,Adobe Helvetica,Helvetica;
   text-decoration:none;
   color:#16305e;
}
body{
   margin:0;
   padding:0;
}

#MenuSwitcher{
   position:fixed;
   bottom:50%;
   right:0;
   opacity: 0.5;
   width:8px;
   cursor:col-resize;
   height:50px;
   background:rgba(192, 192, 192, .6);
   border-radius: 5px 0px 0px 5px; 
   z-index:500;
}
@media handheld{
   #MenuSwitcher{
      width:20px;
   }
}
