
@media screen, print { 
   ul.mktree  li { 
      list-style: none; 
      white-space:nowrap;
   } 
   ul.mktree{ 
      margin-left:0px; 
      padding:0px;
      width:80%;
      white-space:nowrap; 
   }
   ul.mktree ul , ul.mktree li { 
      margin-left:9px; 
      padding:0px;
      white-space:nowrap;
   }
   ul.mktree  li           .bullet { 
      padding-left: 15px;
      background:none
      font-size: 10pt; 
      white-space:nowrap;
      width:30px;
   }
   ul.mktree  li.liOpen    .bullet { 
      font-size: 10pt; 
      cursor: pointer; 
      width:30px;
      background: url(minus.gif) center left no-repeat;
      white-space:nowrap;
   }
   ul.mktree  li.liClosed  .bullet { 
      font-size: 10pt; 
      cursor: pointer; 
      background: url(plus.gif) center left no-repeat;
      width:30px;
      white-space:nowrap;
   }
   ul.mktree  li.liBullet  .bullet { 
      cursor: pointer; 
      background:none
      center left no-repeat; 
      white-space:nowrap;
      width:0px;
   }
   ul.mktree  li.liOpen    ul { 
      display: block; 
      white-space:nowrap;
   }
   ul.mktree  li.liClosed  ul { 
      display: none; 
      white-space:nowrap;
   }
   ul.mktree  li { 
      font-size: 10pt; 
      cursor:pointer;
      white-space:nowrap;
   }
   ul.mktree  li ul li { 
      font-size: 10pt;
      white-space:nowrap; 
   }
   ul.mktree  li ul li ul li { 
      font-size: 8pt;
      overflow:hidden; 
      white-space:nowrap; 
   }
   ul.mktree  li ul li ul li ul li { 
      font-size: 6pt;
      white-space:nowrap;
   }
}
.note {
   background-color:#ffffff;  
}
.denote {
   color:#8B8989;
   background:none;
}
.lispan { 
   background:none
   width:30px;
}
.inputbox {
   background-color: #dddddd;
   height: 18px;
}
