.data tr.line{
}
.data tr.lineok{
   background:#dfedd5;
}
.data tr.linefail{
   background:#edd5db;
}
.data th{
   padding:0px;
   margin:0px;
   padding-left:2px;
   padding-right:2px;
   border-width:1px;
   border-style:solid;
   border-color:black;
   border-bottom-width:2px;
}
input.button{
   background:#dadada;
   overflow:hidden;
   border-style:outset;
   border-width:3px;
   padding:0px;
   padding-left:2px;
   padding-left:2px;
   margin:3px;
   width:99%;
}

.data td{
   padding:0px;
   margin:0px;
   padding-left:2px;
   padding-right:2px;
   border-width:1px;
   border-style:solid;
   border-color:black;
   border-top-width:0px;
}
table.data{
   border-spacing:0px;
   border-collapse:collapse;
}
