
a:link.bookmark,a:visited.bookmark,a:active.bookmark{
            font-family:Arial,Adobe Helvetica,Helvetica;
            text-decoration:none;
            color:#16305e;
}
a:link.news,a:visited.news,a:active.news{
            font-family:Arial,Adobe Helvetica,Helvetica;
            text-decoration:none;
            color:black;
}
a:link.h2,a:visited.h2,a:active.h2{
            font-family:Arial,Adobe Helvetica,Helvetica;
            text-decoration:none;
            color:black;
            font-size:15px;
}
body{
  overflow:hidden;
}

tr.newsline1{
   cursor:default;
}
tr.newsline2{
   background:#DDDDDD;
   cursor:default;
}

