table.maintable{
   border-collapse:collapse;
   width:100%;
   height:auto;
   border-width:0px;
   border-style:none;
   padding:0px;
   margin:0px;
}
td.mainblock{
   border-collapse:collapse;
   width:100%;
   border-width:0px;
   border-style:none;
   padding:0px;
   margin:0px;
   padding-left:5px;
   padding-right:5px;
}

table.viewlist{
   border-collapse:collapse;
   width:100%;
   border-width:0px;
   border-style:none;
   padding:0px;
   margin:0px;
}

div.viewtab_active{
   height:16px;
   width:100px;
   float:left;
   text-align:center;
   border-width:1px;
   border-style:solid;
   border-bottom-style:none;
   background:#dadada;
   padding:0px;
   margin:0px;
   margin-top:5px;
   padding-left:5px;
   padding-right:5px;
}
td.viewtab_active{
   border-width:0px;
   border-style:none;
   padding:0px;
   margin:0px;
   width:1%;
}
td.viewtab_spacer{
   border-width:0px;
   border-style:none;
   padding:0px;
   margin:0px;
   width:10px;
   border-bottom-style:solid;border-width:1px;border-color:#000000;
}
td.viewtab_spacer_right{
   border-width:0px;
   border-style:none;
   padding:0px;
   margin:0px;
   xwidth:100px;
   border-bottom-style:solid;border-width:1px;border-color:#000000;
}
.hidden{display:none;}

div.directsublist
{
   text-align:right;
   padding-right:5px;
   cursor: pointer;
   cursor: hand;
}

div.SubList{
   border-collapse:collapse;
   border-width:1px;
   border-style:solid;
   border-color:#000000;
   margin-bottom:5px;
}



table.subdatatable{
   border-collapse:collapse;
   border-width:1px;
   border-style:solid;
   border-color:#000000;
   border-top-style:none;
   margin-bottom:1px;
}
td.subheadline{
}

table.subdatatable tr.subline{
   cursor:pointer;
   visibility:visible;
   background:#DDDDDD;
}


table.subdatatable tr.subline:nth-child(odd){
   background:#DDDDDD;
}
table.subdatatable tr.subline:nth-child(even){
  background: #CCCCCC;
}


table.subdatatable tr.subline:hover{
   background:#b0c5ec;
}

@media only screen and (max-width: 700px) {
  td.showSW700 {display:none; }
  th.showSW700 {display:none; }
}

@media only screen and (max-width: 800px) {
  td.showSW800 {display:none; }
  th.showSW800 {display:none; }
}

@media only screen and (max-width: 900px) {
  td.showSW900 {display:none; }
  th.showSW900 {display:none; }
}

@media only screen and (max-width: 1000px) {
  td.showSW1000 {display:none; }
  th.showSW1000 {display:none; }
}

td.subdatafield{
   padding-left:5px;
   padding-right:5px;
   width:15%;
   vertical-align:top;
   position:relative;
   cursor:pointer;
}
th.subheadfield{
   padding-left:5px;
   padding-right:5px;
   background:#8faee7;
   text-align:left;
   vertical-align:bottom;
   border-bottom-width:1px;
   border-bottom-style:solid;
   cursor:pointer;
}






table.wfactsubdatatable{
   border-collapse:collapse;
   border-width:1px;
   border-style:solid;
   border-color:#000000;
   border-top-style:none;
   margin-bottom:1px;
}
td.subheadline{
}

table.wfactsubdatatable tr.subline{
   cursor:pointer;
   visibility:visible;
   background:#DDDDDD;
}



table.wfactsubdatatable tr.subline:hover{
   background:#b0c5ec;
}






.sort-arrow {
	width:					11px;
	height:					11px;
	background-position:	center center;
	background-repeat:		no-repeat;
	margin:					0 2px;
}


.sort-arrow.descending {
	background-image:		url("../../../public/base/load/downsimple.png");

}

.sort-arrow.ascending {
	background-image:		url("../../../public/base/load/upsimple.png");
}

