a:focus {outline: gray solid 1px;}

div.detailframe{
   width:99%;
   border-style:solid;
   border-width:1px;
   margin:1px;
   margin-bottom:1px;
   background:#eeeeee;
}
div.detailframeread{
   width:99%;
   border-style:solid;
   border-width:1px;
   margin:1px;
   margin-bottom:1px;
   background:#eeeeee;
}
div.detailframeedit{
   width:99%;
   border-style:solid;
   border-width:2px;
   border-color:black;
   margin:0px;
   margin-bottom:1px;
   background:#eeeeee;
}

//div.detailframe h3{
//   color:black;
//}
//div.detailframeedit h3{
//   color:black;
//}
//div.detailframeread h3{
//   color:gray;
//}

div.backtotop{
  position:absolute;
  bottom:5;
  right:2;
  visible:hidden;
  display:none;
}


body.fullview{
   background:#eaeaea;
   margin:10px;
}  

div.fullview{
   width:100%;
   border-width:0px;
   margin:0px;
   margin-bottom:0px;
}  

div.sublist{
   width:99%;
   border-style:none;
   font-weight:normal;
}
table.detailframe{
   border-style:none;
   border-spacing:0px;
   border-collapse:collapse;
   margin:0px;
   padding:0px;
   width:100%;
}
table.containerframe{
   border-style:none;
   border-spacing:0px;
   border-collapse:collapse;
   margin:0px;
   padding:0px;
   width:100%;
}

div.detailbottomline{
   font-size:9px;
   text-align:right;
   margin-right:10px;
   display:none;
}

div.detailtopline{
   width:99%;
   border-style:solid;
   border-width:1px;
   margin:0px;
   padding:0px;
   margin-bottom:1px;
   background:#8faee7;
   background:#30579f;
   font-weight:bold;
}
td.detailtopline{
   padding-right:5px;
   padding-left:2px;
   vertical-align: top;
   text-align:left;
   padding-top:5px;
}
h1.detailtoplineobj{
   color:white;
   font-weight:bold;
   font-size:11px;
   margin-bottom:0px;
   margin-top:0px;
}
h2.detailtoplinename{
   font-size:12px;
   padding:0px;
   font-weight:lighter;
   margin:0px;
   margin-bottom:0px;
   margin-top:0px;
   color:white;
}
h3.grouplabel{
   font-weight:bold;
   font-size:12px;
   padding:0px;
   margin:0px;
   margin-bottom:0px;
   margin-top:0px;
}

div.detailfieldspec{
   padding:2px;
   font-size:12px;
   font-weight:normal;
   text-decoration:none;
   width:250px;
   position:absolute;
   border-style:outset;
   border-wdith:2px;
   overflow:visible;
   white-space:normal;
   word-wrap: normal;
   background:#fffeeb;
   visible:hidden;
   display:none;
   margin-top:18px;
   z-index:100;
}


div.detailgroupspec{
   padding:2px;
   text-align:left;
   margin-left:5px;
}
div.detailheadline{
   width:auto;
   border-bottom-style:solid;
   border-bottom-width:2px;
   background:#a0bbed;
}
td.detailheadline{
   font-weight:bold;
   padding-right:4px;
   padding-left:4px;
}
hr.detailseperator{
   width:50%;
   margin-top:20px;
   margin-bottom:20px;
   height:5px;
   background-color:#000000;
}

#HtmlDetail{
   width:100%;
   height:100%;
   overflow:visible;
   padding:0px;
   margin:0px;
   background:#eaeaea;
}

body{
   margin:0px;
   xmargin-left:4px;
   padding:0px;
   border-width:0px;
}

div.detailfunctions{
   margin:0px;
   padding:0px;
   z-index:99;
}
div.issuestate{
   background-color:red;
   width:40px;
   height:40px;
}


div.mce-toolbar div.mce-container-body {
    text-align: center;
}

.defaultSkin span.mceIcon, .defaultSkin img.mceIcon {display:block; width:18px; height:18px}
.defaultSkin .mceButton {display:block; border:1px solid #F0F0EE; width: 18px; height:18px; margin-right:1px}


div.multilinehtml{
   height:254px;
   overflow:auto;
   padding:2px;
   width:99%;
   margin:0px;
   margin-bottom:2px;
   xfont-family:monospace,Courier New,Adobe Courier,Courier; // geht nicht!
   font-size:11px;
   color:black;
   font-weight:400;
   border-width:1px;
   border-style:solid;
   text-overflow:clip;
}
div.multilinehtml h4{
   display:block;
   margin:0px;
   margin-top:1.33em;
   font-weight:bold;
}
div.containerlist{
   height:100px;
   overflow:auto;
   padding:2px;
   width:99%;
   margin:0px;
   margin-bottom:2px;
   font-size:11px;
   color:black;
   font-weight:400;
   border-width:1px;
   border-style:solid;
   border-color:blue;
   text-overflow:clip;
}
div.workflowmultilinetext{
   height:auto;
   overflow:hidden;
   padding:0px;
   width:100%;
   margin:0px;
   border-width:0px;
   border-style:solid;
   text-overflow:clip;
}
div.multilinetext{
   height:104px;
   overflow:auto;
   padding:2px;
   width:99%;
   margin:0px;
   margin-bottom:2px;
   border-width:1px;
   border-style:solid;
   text-overflow:clip;
}
pre.multilinetext {
   margin: 0px;
   padding: 0px;
   font-family:monospace,Courier New,Adobe Courier,Courier;
   font-size:11px;
   font-weight:400;
   color:black;
   white-space: pre-wrap;       /* css-3 should we be so lucky... */
   white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
   white-space: -pre-wrap;      /* Opera 4-6 ?? */
   white-space: -o-pre-wrap;    /* Opera 7 ?? */
   word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
img.multilinetextexpand{
   float: right;
   cursor:pointer;
}

textarea.multilinehtml{
   height:250px;
   width:100%;
   margin:0px;
   padding:2px;
   padding-left:5px;
   padding-right:5px;
   font-weight:300;
   color:black;
   background:#ffffff;
}

textarea.multilinetext{
   resize: none; 
   height:96px;
   width:100%;
   margin:0px;
   padding:2px;
   padding-left:5px;
   padding-right:5px;
   font-weight:300;
   font-family:monospace,Courier New,Adobe Courier,Courier;
   font-size:11px;
   color:black;
   background-color:#ffffff;
}

textarea.multilinetext[enabled]{
   resize: none; 
   height:96px;
   width:100%;
   margin:0px;
   padding:2px;
   padding-left:5px;
   padding-right:5px;
   font-weight:300;
   font-family:monospace,Courier New,Adobe Courier,Courier;
   font-size:11px;
   color:black;
   background-color:#ffffff;
}

textarea.multilinetext[disabled]{
   resize: none; 
   height:96px;
   width:100%;
   margin:0px;
   padding:2px;
   padding-left:5px;
   padding-right:5px;
   font-weight:300;
   font-family:monospace,Courier New,Adobe Courier,Courier;
   font-size:11px;
   color:gray;
   background-color:#dedede;
}


table.subtable {
   width: 100%;
   padding: 0px;
   border: none;
   border: 1px solid #789DB3;
}
table.subtable td {
   font-size: 10px;
   border: none;
   padding: 0px;
}
table.subtable td.hl {
   font-size: 10px;
   border: none;
   background-color: #F4F4F4;
   padding: 0px;
   font-weight: bold;
}

.alert{
   background-color:#FFCDCD
}

.alerttip {
  position: relative;
  display: inline-block;
  boxrder-bottom: 1px dotted black;
}

.alerttip .alerttiptext {
  width: 180px;
  background-color: gray;
  color: #fff;
  border-radius: 6px;
  padding: 5px;
  text-align:left;
  
  top: 135%;
  left: 15%;  
  margin-left: -60px;
  
  /* Position the alerttip */
  position: absolute;
  z-index: 1;
}

.alerttip::after {
    content: "";
    position: absolute;
    top: 80%;
    left: 5%;    
    margin-left: -5px;
    border-width: 6px;
    border-style: solid;
    border-color: transparent transparent gray transparent;
}

.noticeText{
   font-style: italic;
}



img.toplineimage{
   margin:5px;
   border-color:black;
   border-style:outset;
   border-width:2px
}

span.readonlyinput{
   color:gray;
}

button.detailfunctions {
  background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  text-decoration: none;
  cursor: pointer;
}

button.detailfunctions, a.detailfunctions:link, a.detailfunctions:visited, a.detailfunctions:active {
            font-family:Arial,Adobe Helvetica,Helvetica;
            font-size:12px;
            text-decoration:none;
            color:#353534;
            cursor: pointer;
            cursor: hand;
          }


a.HtmlDetailIndex:link, a.HtmlDetailIndex:visited, a.HtmlDetailIndex:active {
            font-family:Arial,Adobe Helvetica,Helvetica;
            text-decoration:none;
            color:#353534;
          }

a.detailtopfunctions:link, a.detailtopfunctions:visited,a.detailtopfunctions:active    {
            font-family:Arial,Adobe Helvetica,Helvetica;
            text-decoration:none;
            color:white;
            font-weight:bold;
          }

/*
   fix für mozilla, da sonst das Laden hängen bleibt (normalerweise sollte
   in diesplay none drin stehen
*/
#popupContainer {
        display:block;
}

img.printspacer{
   display:none;
   visiblity:hidden;
   border-width:0;maring:0;padding:0;
} 


div.clipicon {
  position: absolute;
  display: inline-block;
  top:0;
  right:0;
  z-index:99;
}

div.clipicon img {
  opacity: 0;
  transition: opacity .5s, top .5s;
}

div.clipicon:hover img {
  opacity: 1;
}





@media print{
   div.HtmlDetailIndex{
      display:none;
      visiblity:hidden;
   } 
   img.multilinetextexpand{
      display:none;
      visiblity:hidden;
   }
   div.directsublist{
      display:none;
      visiblity:hidden;
   }
   div.printbacktotop{
      display:none;
      visiblity:hidden;
   }
   img.printspacer{
      display:block;
      visiblity:display;
   } 
   div.detailbottomline{
      display:block;
   }

   textarea.multilinetext{
      height:auto;
      background:#ffffff;
   }
   textarea.multilinehtml{
      height:auto;
      background:#ffffff;
   }
   div.multilinetext{
      height:auto;
      overflow:visible;
      border-style:none;
      background:#ffffff;
   }
   div.multilinehtml{
      height:auto;
      overflow:visible;
      background:transparent;
   }
   div.detailframe{
      background:transparent;
      page-break-inside: avoid;
   }
   pre.multilinetext{
      height:auto;
      overflow:visible;
   }
   body{
      overflow:visible;
      background:transparent;
   }
   body.fullview{
      background:transparent;
      background-color: #FFFFFF;
      margin:0px;
   }
   div.detailfunctions{
      display:none;
      visibility:hidden;
   }
   td.detailheadline,td.detailtopline{
      padding-top:3px;
      padding-bottom:2px;
   }
   #HtmlDetail{
      width:100%;
      height:100%;
      overflow:visible;
      background:transparent;
   }
}


