#HtmlNativeControlBar{
   display:none;
   visibility:hidden;
   position: fixed;
   z-index: 5;
   bottom:0px;
   right:5px;
}
.HtmlNativeHighlight{
   background-color:yellow;
}
table.maintable{
   border-collapse:collapse;
   width:100%;
   height:75%;
   border-width:0px;
   border-style:none;
   padding:0px;
   margin:0px;
}

td.mainblock{
   border-collapse:collapse;
   width:100%;
   vertical-align:top;
   border-width:0px;
   border-style:none;
   padding:0px;
   margin:0px;
   padding-left:2px;
   padding-right:2px;
}

table.viewlist{
   border-collapse:collapse;
   width:100%;
   border-width:0px;
   border-style:none;
   padding:0px;
   margin:0px;
}

div.pagingline{
   width:100%
   height:auto;
   padding:0;
   margin:0;
   border-width:0;
}

div.viewtab_active{
   height:18px;
   width:120px;
   float:left;
   text-align:center;
   border-width:1px;
   border-style:solid;
   border-bottom-style:none;
   background:#dadada;
   padding:0px;
   margin:0px;
   margin-top:5px;
   padding-left:5px;
   padding-right:5px;
   background:#CfCfCf;
}
div.viewtab_inactive{
   height:18px;
   width:120px;
   float:left;
   text-align:center;
   border-width:1px;
   border-style:solid;
   border-bottom-style:none;
   background:#dadada;
   padding:0px;
   margin:0px;
   margin-top:5px;
   padding-left:5px;
   padding-right:5px;
}
td.viewtab_active{
   border-width:0px;
   border-style:none;
   padding:0px;
   margin:0px;
   width:1%;
   border-bottom-style:solid;border-bottom-width:1px;border-bottom-color:#CfCfCf;
}
td.viewtab_inactive{
   border-width:0px;
   border-style:none;
   padding:0px;
   margin:0px;
   width:1%;
   border-bottom-style:solid;border-width:1px;border-color:#000000;
}
td.viewtab_spacer{
   border-width:0px;
   border-style:none;
   padding:0px;
   margin:0px;
   width:10px;
   border-bottom-style:solid;border-width:1px;border-color:#000000;
}
td.viewtab_spacer_right{
   border-width:0px;
   border-style:none;
   padding:0px;
   margin:0px;
   border-bottom-style:solid;border-width:1px;border-color:#000000;
}
body{
   background:#ffffff;
}

table.datatable{
   border-collapse:collapse;
   border-width:1px;
   border-style:solid;
   border-color:#000000;
   border-top-style:none;
   empty-cells:show;
}

table.datatable thead tr th{
   position: -webkit-sticky;
   position: -moz-sticky;
   position: -ms-sticky;
   position: -o-sticky;
   position: sticky;
   top: 0;
   z-index: 5;
}

table.datatable tr.subline{
   cursor:pointer;
   visibility:visible;
   background:#DDDDDD;
}


table.datatable tr.subline:nth-child(odd){
   background:#DDDDDD;
}
table.datatable tr.subline:nth-child(even){
  background: #CCCCCC;
}


table.datatable tr.subline:hover{
   background:#b0c5ec;
}

p.heightLimitedText{
  margin-right:15px;
  max-height:48px;
  overflow:auto;
}


div.clipicon {
  position: absolute;
  display: inline-block;
  top:0;
  right:0;
  z-index:99;
  cursor:pointer;
}

.datafield > div.clipicon {
  top:2;
}

div.clipicon img {
  opacity: 0;
  transition: opacity .5s, top .5s;
}

div.clipicon:hover img {
  opacity: 1;
}


a.viewselect{
   cursor:pointer;
}
td.headline{
}
tr.line1{
   background:#DDDDDD;
   cursor:default;
}
tr.line2{
   background:#CCCCCC;
   cursor:default;
}
td.datafield{
   padding-left:5px;
   padding-right:5px;
   width:15%;
   vertical-align:top;
   position: relative;
}
th.headfield{
   padding-left:5px;
   -padding-right:5px;
   background:#CfCfCf;
   text-align:left;
   border-bottom-width:1px;
   border-bottom-style:solid;
   border-bottom-color:black;
}
tr.linehighlight{
   background:#b0c5ec;
   cursor:pointer;
}

table.subtable { 
   width: 100%; 
   padding: 0px; 
   border: none; 
   border: 1px solid #789DB3;
   border-collapse:collapse;
}
table.subtable td { 
   font-size: 10px; 
   border: 1px solid darkgray;
   padding: 0px; 
}
table.subtable td.hl { 
   font-size: 10px; 
   border: none; 
   background-color: #F4F4F4; 
   padding: 0px; 
   font-weight: bold;
}

.htmlfixedfont{
   font-family:monospace;
}



a:link.pageswitch,a:visited.pageswitch,a:active.pageswitch    {
            font-family:Arial,Adobe Helvetica,Helvetica;
            text-decoration:none;
            color:#16305e;
          }

a:link.lineselect,a:visited.lineselect,a:active.lineselect    {
            font-size:8px;
            display: block;
            height:100%;
            width:100%;
            text-decoration:none;
          }
a:focus.lineselect {
            font-size:8px;
            display: inline-block;
            height:100%;
            background-color:red;
          }



@media print{
   div.pagingline{
      width:100%;
      height:auto;
      display:none;
      visibility:hidden;
   }
   table.viewlist{
      display:none;
      visibility:hidden;
   }
   #HtmlNativeControlBar{
      display:none;
      visibility:hidden;
   }
}


