.chartlabel{
   font-size:16px;
   font-weight: bold;
   color: darkblue;
}
.subunit{
   font-size:14px;
   font-weight: bold;
   color: darkblue;
   margin-top:4px;
}
.condition{
   font-size:10px;
   margin-top:5px;
   text-align:right;
}
.overview{
   margin-top:5px;
   margin-bottom:25px;
}
.chartsublabel{
   color: darkblue;
}
.unitdata{
   margin-left:0px;  
}
.subunitdata{
   margin-left:10px;  
}


a:link.monlink, a:visited.monlink, a:active.monlink  {
            font-family:Arial,Adobe Helvetica,Helvetica;
            text-decoration:none;
            color:#16305e;
          }

a:link.sublink, a:visited.sublink, a:active.sublink  {
            font-family:Arial,Adobe Helvetica,Helvetica;
            text-decoration:none;
            color:#16305e;
          }
a:link.exlink, a:visited.exlink, a:active.exlink  {
            font-family:Arial,Adobe Helvetica,Helvetica;
            text-decoration:none;
            color:#16305e;
          }

