table.WebCalendar{
   width:100%;
   height:100%;
   padding:0;
   margin:0;
}
td.WebCalendarHeader{
   padding:0;
   maring:0;
   font-size:10px;
   line-height:10px;
}


table.dayV1{
   width:100%;
   height:100%;
   border-width:1;
   border-color:gray;
   border-style:solid;
   border-collapse:collapse;
}
td.dayV1hour{
   padding:0;
   padding-left:2px;
   padding-right:2px;
   margin:0;
   font-size:10px;
   line-height:11px;
   border-style:solid;
   border-width:1;
   border-color:gray;
}
td.dayV1data{
   padding:0;
   margin:0;
   font-size:10px;
   line-height:11px;
   border-style:solid;
   border-width:1;
   border-color:darkgray;
   background:#f8f8f8;
}
tr.dayV1{
   height:10px;
}
table.dayV1{
   padding:0;
   margin:0;
}

table.weekV1{
   width:100%;
   height:100%;
   border-width:1;
   border-color:gray;
   border-style:solid;
   border-collapse:collapse;
}

td.weekV1dayLabel,td.weekV1dateLabel{
   height:1%;
   padding:0;
   margin:0;
   padding-left:2;
   padding-right:2;
   font-size:10px;
   line-height:11px;
   border-style:solid;
   border-width:1;
   border-color:gray;
}
td.weekV1dayLabel{
   background:#e1e1e1;
}
td.weekV1data{
   text-align:left;
   vertical-align:top;
   padding:0;
   margin:0;
   padding-left:2;
   padding-right:2;
   font-size:10px;
   line-height:11px;
   border-style:solid;
   border-width:1;
   border-color:gray;
   background:#f8f8f8;
}

table.monthV1{
   width:100%;
   height:100%;
   border-width:1;
   border-color:gray;
   border-style:solid;
   border-collapse:collapse;
}
td.monthV1day,td.monthV1kw{
   padding:0;
   margin:0;
   height:50px;
   padding-left:2;
   padding-right:2;
   font-size:10px;
   line-height:11px;
   border-style:solid;
   border-width:1;
   border-color:gray;
}
td.monthV1day{
   background:#f8f8f8;
}
td.monthV1dayLabel,td.monthV1kwLabel{
   padding:0;
   margin:0;
   padding-left:2;
   padding-right:2;
   font-size:10px;
   line-height:11px;
   border-style:solid;
   border-width:1;
   border-color:gray;
   background:#e1e1e1;
}




table.monthV2{
   width:100%;
   height:100%;
   border-width:1;
   border-color:gray;
   border-style:solid;
   border-collapse:collapse;
}
td.monthV2day{
   padding:0;
   margin:0;
   width:10px;
   padding-left:2;
   padding-right:2;
   font-size:10px;
   line-height:11px;
   border-style:solid;
   border-width:1;
   border-color:gray;
}
td.monthV2day{
   background:#f8f8f8;
}
td.monthV2dataLabel{
   padding:0;
   margin:0;
   padding-left:2;
   padding-right:2;
   font-size:10px;
   line-height:11px;
   border-style:solid;
   border-width:1;
   border-color:gray;
   background:#e1e1e1;
   overflow:hidden;
}




table.yearV1{
   width:100%;
   height:100%;
   border-width:1;
   border-color:gray;
   border-style:solid;
   border-collapse:collapse;
}
td.yearV1day,td.yearV1kw{
   padding:0;
   margin:0;
   padding-left:2;
   padding-right:2;
   font-size:10px;
   line-height:11px;
   border-style:solid;
   border-width:1;
   border-color:gray;
}
td.yearV1dayLabel,td.yearV1kwLabel{
   padding:0;
   margin:0;
   padding-left:2;
   padding-right:2;
   font-size:10px;
   line-height:11px;
   border-style:solid;
   border-width:1;
   border-color:gray;
   background:#e1e1e1;
}
td.yearV1day{
   background:#f8f8f8;
}
td.yearV1monthLabel{
   padding:0;
   margin:0;
   padding-left:2;
   padding-right:2;
   font-size:10px;
   line-height:13px;
   border-style:solid;
   border-width:1;
   border-color:gray;
   background:#f1f1f1;
   overflow:auto;
}
