   body{
      margin-right:5px;
      margin-bottom:12px;
   }
   iframe{
      border-style:inset;
      border-width:2px;
   }

div.dialog{
   border-style:outset;
   border-width:2px;
   padding:0px;
   padding-top:5px;
   padding-bottom:5px;
   margin-bottom:4px;
   background:#dadada;
}

  
.thumbnail{
   margin:15px;
   margin-top:2px;
   margin-bottom:2px;
}

   
