@import url("Output.HtmlDetail.css?SKIN=default");

a:focus {outline: #b90b64 solid 1px;}


div.detailtopline{
   background:#d6006e;
   background-image:linear-gradient(135deg, #d6006e 5%, #b90b64 80%);
   border-radius:4px;
}
div.detailframe{
   border-radius:4px;
}
div.detailframeedit{
   border-radius:4px;
}
div.detailframeread{
   border-radius:4px;
}
h2.detailtoplinename{
   color:white;
}

h3.grouplabel{
   color:white;
}



div.detailheadline{
   color:white;
   box-shadow: none;
   border-bottom: 2px solid #d6006e;
   border-top: 2px solid #d6006e;
   border-left: 2px solid #d6006e;
   border-right: 2px solid #d6006e;
   background-color:#BA1168;
}

button.detailfunctions, a.detailfunctions:link, a.detailfunctions:visited, a.detailfunctions:active {
     color:white;
     font-weight:400;
}


