@import url("Output.HtmlDetail.css?SKIN=default");
div.detailtopline{
   background:#d6006e;
   background-image:linear-gradient(135deg, #d6006e 5%, #b90b64 80%);
   border-radius:4px;
}
div.detailframe{
   border-radius:4px;
}
div.detailframeedit{
   border-radius:4px;
}
div.detailframeread{
   border-radius:4px;
}
h2.detailtoplinename{
   color:white;
}
div.detailframe h3{
   color:black;
}

div.detailframeedit h3{
   color:black;
}

div.detailheadline{
   color:white;
   box-shadow: none;
   border-bottom: 2px solid #d6006e;
   border-top: 2px solid #d6006e;
   border-left: 2px solid #d6006e;
   border-right: 2px solid #d6006e;
   background-color:#BA1168;
w
}

span.detailfunctions, a.detailfunctions:link, a.detailfunctions:visited, a.detailfunctions:active {
     color:white;
     font-weight:400;
}


