[Unit]
Description=extSimpleHandler

[Service]
User=hvogler
Type=simple
PIDFile=/var/run/extSimpleHandler/extSimpleHandler.pid
EnvironmentFile=/etc/default/extSimpleHandler
ExecStart=/opt/w5base/contrib/ActionHandler/extSimpleHandler.pl
ExecStopPost=/bin/rm /var/run/extSimpleHandler/extSimpleHandler.pid
Restart=always
RestartSec=5
StartLimitInterval=43200
StartLimitBurst=2000

[Install]
WantedBy=multi-user.target
