'tsacinv::service'=>{de=>'AssetManager Service/Leistung',en=>'AssetManager Service'},
'fieldgroup.default'=>{de=>'Service/Leistung',en=>'Service'},
'Ammount'=>{de=>'Menge/Anzahl'},
'Service Name'=>{de=>'Leistungsbez.'},
'Service Fullname'=>{de=>'Leistungslangbez.'},
'is ordered'=>{de=>'bestellte Leistung'},
'is delivered'=>{de=>'gelieferte Leistung'},
'Service Type'=>{de=>'Leistungsart'},
'Service Description'=>{de=>'Leistungsbeschreibung'},
'Unit'=>{de=>'Einheit'},
'CostCenter'=>{de=>'Kontierungsobjekt'},
'sender CostCenter'=>{de=>'Sender Kontierungsobjekt'},
'monthly factured service'=>{de=>'monatlich fakturierter Service'},
