services:
  w5db:
    image: mariadb:latest
    container_name: w5db
    environment:
      MARIADB_RANDOM_ROOT_PASSWORD: "yes"
      MYSQL_DATABASE: w5base
      MYSQL_USER: w5user
      MYSQL_PASSWORD: w5pass
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      interval: 6s
      timeout: 20s
      retries: 10
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql:ro
      - ./mariadb/conf.d:/etc/mysql/conf.d 
      - ./mariadb/init.sql:/docker-entrypoint-initdb.d/init.sql 
      - /var/lib/mysql:/var/lib/mysql
    restart: always

  w5base-runtime:
    container_name: w5base
    build:
      context: .
    image: it9000/w5base-ol9-runtime:beta
    depends_on:
      w5db:
        condition: service_healthy
    environment:
      W5BRANCH: master
      W5DBHOST: w5db
      W5BASESITENAME:   ${W5BASEDOCKERSITENAME}
      W5BASECONFIGNAME: ${W5BASEDOCKERCONFIGNAME}
    volumes:
      - /opt/w5base:/opt/w5base
    restart: always
