version: "3.9"
services:
  w5base_ol9_runtime:
    build: .
    image: it9000/w5base-ol9-runtime:latest
    container_name: w5base_ol9_runtime
    volumes:
      - /srv/w5base/etc_w5base:/etc/w5base
      - /srv/w5base/etc_oracle:/etc/oracle
      - /srv/w5base/opt_w5base:/opt/w5base
      - /srv/w5base/opt_w5darwin:/opt/w5darwin
      - /srv/w5base/var_log_httpd:/var/log/httpd
      - /srv/w5base/var_log_w5base:/var/log/w5base
      - /srv/w5base/etc_odbc.ini:/etc/odbc.ini

