body,html,form,table{
   padding:0px;
   margin:0px;
   font-family:Arial,Adobe Helvetica,Helvetica;
   font-size:12px;
   text-decoration:none;
   background-color:white;
}

body.iframe,html.iframe{
   overflow:auto;
}

div.videoframe{
   border-style:outset;
   margin-left:10px;
   margin-right:10pxi;
   margin-top:5px;
   margin-bottom:5pxi;
}

#topbar{
   background-image:url(images/sfx_bg2.png);
   height:50px;
}
#sfxlogo{
   float:right;
   margin-top:10px;
   margin-right:10px;
}
#projectname{
  padding-top:20px;
  padding-left:10px;
  font-weight:bold;
  font-size:18px;
}
#authorname{
  padding-left:10px;
  font-size:10px;
}
#redbar{
  background-image:url(images/sfx_tab_main2.png);
  height:20px;
}
.linkheader{
  font-weight:bold;
  font-size:11px;
  margin-top:10px;
  text-decoration:underline;
}
div.box{
  border-style:solid;
  border-color:gray;
  border-width:1px;
  margin:10px;
}
div.linkbox{
  border-style:solid;
  border-color:gray;
  border-width:1px;
  margin:10px;
}
div.boxhead{
  background-image:url(images/boxheadbg.png);
  padding:2px;
  padding-bottom:0px;
  height:22px;
  font-weight:bold;
}
div.boxtext{
  padding:4px;
  padding-top:0px;
}
div.boxvideo{
  padding:2px;
  padding-top:0px;
}
ul{
  padding:0px;
  margin:0px;
  margin-left:20px;
}
table{
  padding:0px;
  margin:0px;
  border-collapse:collapse;
}
a:link,a:visited,a:active{
  text-decoration:none;
  color:#002e4b;
}

a:link.projectlink,a:visited.projectlink,a:active.projectlink{
  text-decoration:none;
  color:black;
}

div.cr{
  font-size:9px;
  margin-right:10px;
}



@media print {
   #topbar{
      display:none;
      visibility:hidden;
   }
   div.linkbox{
      display:none;
      visibility:hidden;
   }
   div.box{
     border-style:none;
     margin:0px;
     padding:0px;
   }
   div.videoframe{
      display:none;
      visibility:hidden;
   }
}


