@import url("default.css?SKIN=default");
body{
  // margin-top:2px;   // nicht gut - erzeut auf Empty Page Scrollbars
}

.TitleBar{
   box-shadow: none;
   border-width:0px;
   background-color:#b90b64;
   xmargin-top:2px;
   xmargin-right:2px;
//   border-radius:4px;
}


.TitleBar-arrows li:before {
  border-color: transparent transparent transparent #b90b64;
}


#popupContainer{
   margin:0px;
   border-radius:6px;
}

span.OPMODE{
   color:darkblue;
}

a:focus {outline: 1px solid gray;}
a:focus img {outline: 2px solid #b90b64;}
a.sublink:focus img {outline: 1px solid white;}


a:link.TitleBarLink, a:visited.TitleBarLink, a:active.TitleBarLink {
   background-color: transparent;
   color: white;
}
a:focus.TitleBarLink {
   outline:none;
   color: gray;
}


.SelectedItem {
   background-color:#b90b64;
   color:#ffffff;
}


