table{
   padding:10px;
   padding-top:20px;
}
td{
   height:45px;
   color:white;
   padding:10px;
   font-size:14;
   cursor:pointer;
}
td:hover {
   background-color:#4b737d;
   font-weight:bold;
}
div{
   padding:5px;
  text-align:left;
}
.normal{
   background-color:#7d9ba0;
}
.dimgray{
   background-color:dimgray;
}
.selBtn{
 background: none!important;
  border: none;
  width:100%;
  text-align:left;
  padding: 0!important;
  /*optional*/
  text-decoration: none;
  padding:5px;
  cursor: pointer;
}
.selBtn:focus {
  outline: 2px solid silver;
  outline-offset:5px;
}
