.DetailWindow{
  //border:1px solid black;
  padding:1px;
  background-color: #e0e0e0;
  margin:3px;
  margin-left:10px;
  margin-right:10px;
  border-radius: 8px;
  margin-bottom:10px;
  padding-bottom:5px;
  height:100%;
}
.DetailTitle{
  //border:1px solid black;
  padding:2px;
  margin:5px;
  margin-left:10px;
  margin-right:10px;
  border-radius: 8px;
  margin-bottom:5px;
  height:2.7em;
}
.DetailFrame{
  //border:1px solid black;
  padding:5px;
  margin:5px;
  background-color: #f0f0f0;
  margin-left:10px;
  margin-right:10px;
  overflow:auto;
}
.businesssegItem{
  //border:1px solid black;
  padding:1px;
  background-color: #e0e0e0;
  margin:3px;
  margin-left:10px;
  margin-right:10px;
  border-radius: 8px;
  margin-bottom:10px;
  padding-bottom:5px;
}
.hightLight{
   color: #b90b64;
}
.businesssegLabel{
  //border:1px solid black;
  padding:5px;
  padding-bottom:1px;
  font-size: 1.1em
}
.subprocessitem{
  padding:2px;
  cursor:pointer;
  background-color: #f0f0f0;
  margin-left:10px;
  margin-right:20px;
  margin-bottom:5px;
  border-radius: 3px;
}
.subprocessLabel{
}
.subprocessICTnames{
  font-size: 0.8em
}

.ticketheader{
   font-size:large;
   cursor:pointer;
   background-color: #f0f0f0;
   border-style:solid;
   border-color:#e0e0e0;
   border-width:1px;
   padding:3px;

}
.ticketheader:hover{
  background-color: #ffffff;
  transition: background-color 0.4s;
}
#analysedData{
  overflow:auto;
}

